<!-- <form action="#" method="POST">
    <div class="form-group">
        <label class="form-label" for="name">Name</label>
        <input class="form-input" type="text" id="name" placeholder="Name of the hero" autofocus>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-secondary input-group-btn">Submit</button>
    </div>
</form>
<script src="./assets/add.js"></script> -->

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-6 ">
            <img src="./assets/images/shoe-1.jpg"/>
        </div>
        <div class="col-12 col-sm-12 col-lg-6">
            <form>
                <div class="form-group">
                    <label for="nameInput">Last name</label>
                    <input type="text" class="form-control" id="nameInput" placeholder="Type in your last name">
                </div>
                <div class="form-group">
                    <label for="surnameInput">Last name</label>
                    <input type="text" class="form-control" id="surnameInput" placeholder="Type in your last surname">
                </div>
                <div class="form-group">
                    <label for="emailInput">Email</label>
                    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <button type="submit" class="btn btn-primary">Check out</button>
            </form>
        </div>
    </div>
</div>