<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>WebshopJoelImfeld</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="./assets/style.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="nopadding col-12 col-sm-12 col-lg-12">
            <nav class="navbar navbar-exband-lg navbar-dark bg-dark">
                <button type="button" class="btn btn-lg btn-light">Checkout</button>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="productContainer">
                <img src="./assets/images/shoe-1.jpg" />
                <p class="productTitle">Converse</p>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="productContainer">
                <img src="./assets/images/shoe-2.jpg" />
                <p class="productTitle">Converse</p>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="productContainer">
                <img src="./assets/images/shoe-3.jpg" />
                <p class="productTitle">Converse</p>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="productContainer">
                <img src="./assets/images/shoe-4.jpg" />
                <p class="productTitle">Converse</p>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="productContainer">
                <img src="./assets/images/shoe-5.jpg" />
                <p class="productTitle">Converse</p>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="productContainer">
                <img src="./assets/images/shoe-6.jpg" />
                <p class="productTitle">Converse</p>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="productContainer">
                <img src="./assets/images/shoe-7.jpg" />
                <p class="productTitle">Converse</p>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="productContainer">
                <img src="./assets/images/shoe-8.jpg" />
                <p class="productTitle">Converse</p>
            </div>
        </div>
    </div>  
</div>
</body>
</html>