<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes</title>
    <link rel="stylesheet" href="./spectre/spectre.min.css">
    <link rel="stylesheet" href="./spectre/spectre-icons.min.css">
    <link rel="stylesheet" href="./assets/style.css">
</head>

<body>
    <main class="container">
        <div class="columns">
            <div class="column col-sm-12 col-12">
                Warenkorb DU SIECH LOLd
            </div>
            <div class="column col-sm-12 col-12">
                <div class="col-sm-6 col-3">

                </div>
                <div class="col-sm-6 col-3">

                </div>
                <div class="col-sm-6 col-3">

                </div>
                <div class="col-sm-6 col-3">

                </div>
            </div>
            <div class="column col-sm-12 col-12">
                <div class="col-sm-6 col-3">

                </div>
                <div class="col-sm-6 col-3">

                </div>
                <div class="col-sm-6 col-3">

                </div>
                <div class="col-sm-6 col-3">
                    
                </div>
            </div>
        </div>
    </main>
    <script src="./assets/home.js"></script>
</body>

</html>